http://127.0.0.1 {
	respond /health "ok" 200
	respond "Not found" 404
}

presupuestos.mercamicro.es {
	log {
		output stdout
		format json
	}

	encode zstd gzip
	reverse_proxy mercamicro-presupuestos-budget-web:8080 {
		health_uri /health
		lb_try_duration 3s
	}
}

demos.mercamicro.es {
	log {
		output stdout
		format json
	}

	encode zstd gzip

	@chat_api path /api/chat/* /api/telegram/*
	handle @chat_api {
		reverse_proxy mercamicro-presupuestos-api:3000 {
			health_uri /health
			lb_try_duration 3s
		}
	}

	handle {
		reverse_proxy mercamicro-presupuestos-web:8080 {
			health_uri /health
			lb_try_duration 3s
		}
	}
}

demo.mercamicro.es {
	redir https://demos.mercamicro.es{uri} permanent
}

ingress.chatbots.mercamicro.es {
	log {
		output stdout
		format json
	}

	encode zstd gzip

	@chat_api path /api/chat/* /api/telegram/*
	handle @chat_api {
		reverse_proxy mercamicro-presupuestos-api:3000 {
			health_uri /health
			lb_try_duration 3s
		}
	}

	handle {
		reverse_proxy mercamicro-presupuestos-web:8080 {
			health_uri /health
			lb_try_duration 3s
		}
	}
}
